@import "./_vars.scss";
@import "./_mixins.scss";
@import "../libs/fancybox/jquery.fancybox.css";

@include font("GeometriaDev", normal, 400, "../fonts/Geometria/Geometria-Regular.woff");
@include font("GeometriaDev", normal, 500, "../fonts/Geometria/Geometria-Medium.woff");

@include font("ProximaNovaDev", normal, 400, "../fonts/ProximaNova/ProximaNova-Regular.woff");
@include font("ProximaNovaDev", normal, 600, "../fonts/ProximaNova/ProximaNova-Semibold.woff");
@include font("ProximaNovaDev", normal, 700, "../fonts/ProximaNova/ProximaNova-Bold.woff");

@include font("RobotoDev", normal, 400, "../fonts/Roboto/Roboto-Regular.woff");
@include font("RobotoDev", normal, 500, "../fonts/Roboto/Roboto-Medium.woff");

@include font("RubikDev", normal, 300, "../fonts/Rubik/Rubik-Light.woff");
@include font("RubikDev", normal, 400, "../fonts/Rubik/Rubik-Regular.woff");
@include font("RubikDev", normal, 500, "../fonts/Rubik/Rubik-Medium.woff");
@include font("RubikDev", normal, 700, "../fonts/Rubik/Rubik-Bold.woff");

@include font("SansationDev", normal, 400, "../fonts/Sansation/Sansation-Regular.woff");

* {
  box-sizing: border-box;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

input {
  -moz-appearance: textfield;
  box-sizing: border-box;
  &::placeholder {
    font-size: 16px;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: $fontsize;
  scroll-behavior: smooth;
  color:$text;
}

a:hover {
  color: currentColor;
}

body {
  margin: 0;
  font-family: $montserrat, sans-serif;
  font-size: $fontsize;
  font-weight: 400;
  min-width: 340px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  background-color: $background;
  color: $text;
  opacity: 1;
  visibility: visible;
}

textarea,
input,
button {
  font-family: $montserrat, sans-serif;
  font-size: 14px;
  &::placeholder {
    font-size: 14px;
  }
}
