
$breakpoints: (
    'phone': 575px,
    'tablet': 768px,
    'desktop': 991px,
    'LGdesktop': 1200px,
    '4K': 2560px,
) !default;

$fontsize: 14px; 
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; 
$montserrat: 'RobotoDev',  -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$accent: #1C69D4; 
$invalid: #FF3D01; 
$valid: #58E204; 
$text: #000; 
$background: #fff; 
